.typing-effect {
  overflow: hidden;
  padding-right: 0.5em;
}

@media (max-width: 640px) { /* This is Tailwind's 'sm' breakpoint */
  .typing-effect {
    white-space: normal; /* Allow text wrapping on small screens */
  }
}

.typing-effect::after {
  content: '|';
  animation: blink 1s infinite;
  color: black;
}



@keyframes blink {
  0%, 100% {
    border-color: black;
  }
  50% {
    border-color: transparent;
  }
}